body{
    background-color:bisque;
}
.container{
    width: 60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,.3);
}
header{
    width: 100%;
    height: 110px;
    border-bottom: 1px solid black;
}
header img {
    width: 5%;
}
main input{
    width: 30%;
    margin-right: 2rem;
    border-radius: 5px;
    border:  1px solid black ;
}
main ul{
        list-style-type: none;
        width: 100%;
        padding: 20px;
}
main span {
    cursor: pointer;
    user-select: none;
}
main li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: .5rem 0;
}
.remove-todo{
    color: red;
    cursor: pointer;
}
.todo-done-true{
    text-decoration: line-through;
}
.display-none{
    display: none;
}
.display-block-green{
    color: limegreen;
}